/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'moon_getheavy';
    src: url('./assets/moon_get-heavy-webfont.woff2') format('woff2'),
         url('./assets/moon_get-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1{
    font-family:'moon_getheavy', sans-serif;
}